*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
} 

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    background: rgb(178, 116, 180); 
    color: #222; 
}  


.BookList{
    width: 90vw; 
    max-width:1170px; 
    margin:5rem auto; 
    display:grid;  
    grid-template-columns: repeat(3,1fr);
    gap:2rem; 
}  
@media screen and (min-width:768px){
    .BookList{
        grid-template-columns: repeat(3,1fr);
    }
}
.Book img{
    width:100%; 
    height:80%;
    object-fit:cover; 
} 
.Book{
    background: #fff; 
    border-radius:1rem; 
    padding: 2rem; 
    text-align:center;  
    position:relative;
} 
.Book h2{
    margin-top:1rem; 
    font-size:1rem; 

}
.Book h4
{
color:#617d98;
font-size: 0.75rem;
margin-top:0.5rem;
letter-spacing:2px;
} 

.Book #id{
    position:absolute;  
    top:0px; 
    left:0px; 
    padding:0.75rem; 
    border-top-left-radius:1rem; 
    border-bottom-right-radius:1rem; 
    color:white; 
    background-color: orange; 

} 
h1{
    text-align: center; 
    margin-top: 60px;
}